* {
    margin: 0;
    padding: 0;
}

body {
    background-color: greenyellow;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40vh auto 0 auto;
    background-color: whitesmoke;
    box-shadow: 10px;
    width: 40%;
    border-radius: 15px;
}
